.question-input-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .answer-input {
    margin-bottom: 10px;
  }

  .create-div {
    display: flex;
    gap: 10px;
  }
  
  .create-field {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  