.chart-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background: linear-gradient(to right, rgba(169, 133, 241, 0.6), rgba(58, 113, 207, 0.6));
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: #000000b6 0px 8px 10px 0px;
    text-align: center;
  }
  
  .chart-container canvas {
    max-width: 100%;
  }
  
  .chart-container h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow:
        -1px -1px 5px white,
        1px -1px 5px white,
        -1px 1px 5px white,
        1px 1px 5px white;
  }
  
  .chart-container .chart-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    text-shadow:
        -1px -1px 5px white,
        1px -1px 5px white,
        -1px 1px 5px white,
        1px 1px 5px white;
  }
  
  .chart-container .chart-bar {
    margin: 20px 0;
  }
  