.my-conferences{
    border: 3px solid #000000;
    background: linear-gradient(to right, rgba(169, 133, 241, 0.6), rgba(58, 113, 207, 0.6));
    text-shadow: 
    -1px -1px 5px white,
    1px -1px 5px white,
    -1px 1px 5px white,
    1px 1px 5px white;
    font-weight: 700;
    font-size: 19px;
    border-radius: 6px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction:row;
    display: flex;
    gap:50px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.712) 0px 8px 10px 0px;
}

.conferences{
    border: 3px solid rgba(255, 255, 255, 0.556);
    border-radius: 20px;
    background: linear-gradient(to right, rgba(58, 113, 207, 0.6), rgba(169, 133, 241, 0.6));
    padding: 50px;
}

.lectures{
  border: 3px solid rgba(255, 255, 255, 0.556);
    border-radius: 20px;
    background: linear-gradient(to right, rgba(58, 113, 207, 0.6), rgba(169, 133, 241, 0.6));
    padding: 50px;
}

.con-lec-list {
    display: inline-grid;
    grid-template-columns:auto auto;
    gap:30px;
    padding:10;
    
}

.con-lec-item {
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: #ffffffae 4px solid;
    border-radius: 20px;
    background: linear-gradient(to right, rgba(169, 133, 241, 0.6), rgba(58, 113, 207, 0.6));
}

.con-lec-expired-item{
    background-color: #e15e5e;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: #ffffffae 4px solid;
    border-radius: 20px;
}
.con-lec-details {
    font-size: 18px;
}

.title{

}